body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.banner, .navbar {
    background-color: #0a4b78; /* Blue color */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h1, .navbar .name {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    color: white;
}

.banner nav a, .navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.banner nav a:hover, .navbar a:hover {
    text-decoration: underline;
}

.page-content {
    padding: 2em;
    margin-top: 2em;  /* This ensures the content doesn't overlap with the navbar or banner */
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.profile-info {
    margin-right: 40px;
}

#profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 20%;
    object-fit: scale-down;
}

.toolset {
    text-align: left;
    margin: 20px auto;
    max-width: 800px;
}

.toolset h3 {
    margin-bottom: 20px;
    text-align: center;
}

.tool-category {
    margin-bottom: 20px;
}

.tool-category h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.tool-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tool-icon {
    width: 50px;
    height: auto;
    object-fit: contain;
}

footer {
    background-color: #dcdcde;
    text-align: center;
    padding: 10px;
}